<h3>Select a Calendar</h3>

<ul>
  <% @calendar_list.items.each do |calendar| %>
    <% if calendar.summary != "Holidays in United States" && calendar.summary != "Birthdays"%>
      <li><%= link_to "#{calendar.summary}", "events/#{calendar.id}" %></li>
    <% end %>
  <% end %>
</ul>