.custom-top-bar{
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/nav+bar+background.png");
  color: #D5C5AE;
  text-shadow: 2px 2px #312229;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1em;
}

.custom-top-bar img{
  max-width: 7em;
  max-height: 10em;
  margin-right: 1em;
}

.custom-top-bar a{
  color: white;
  text-shadow: 2px 2px #312229;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.custom-top-bar-section{
  margin-left: 5%;
}

.custom-top-bar a:hover{
  color: #D5C5AE;
}

.custom-top-bar button{
  display: block;
  float: right;
  background-color: #312229;
  /* #B18653 */
  margin: 1rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
  border-radius: 1em;
}

.submit {
  display: block;
  float: right;
  background-color: #B18653;
  margin: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
  border-radius: 1em;
}

.typewriter {
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/Typewriter.png");
}

.form-button{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #47596F;
  color: white;
  margin: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
}

.form-button:hover{
  color: #D5C5AE;
}

.beige {
  background-color: #D5C5AE;
}

label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/Faded+Scheduler+Background.png");
  min-height: fit-content;
}

.footer {
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/footer.png");
  display: table-row;
  height: 0;
}

.form-page {
  margin: auto;
}

.form-image{
  margin: auto;
  padding-top: 2%;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;
  text-align: center;
}

.container-2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  display: inline-block;
}
.container-4 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 280px;
  padding-right: 280px;
  width: 70%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  display: inline-block;
}
.container-5 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 180px;
  padding-right: 180px;
  width: 50%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  display: inline-block;
}

.container-3 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  width: 70%;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  display: inline-block;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=checkbox], select, textarea {
  margin: 1em;
}

.main-font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-font a{
  font-family: Arial, Helvetica, sans-serif;
  color: #47596F;
  text-shadow: 1px 1px 2px #D5C5AE;
}

.main-font a:hover{
  color: #54101D;
  text-shadow: 0px 0px 0px
}

.past-due{
  color: #54101D;
  font-weight: bolder;
}

.scheduler-background{
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/Faded+Scheduler+Background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
}

input[type=submit], select, textarea {
  display: block;
  float: left;
  background-color: #47596F;
  color: #D5C5AE;
  margin: 1rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
  border-radius: 1em;
}

input[type=submit]:hover{
  background-color: #47596F;
  color: #312229;
  border: solid #312229 0.1em;
}

div .container-container{
  background-color: #f2f2f2;
}

.blur-header{
  text-align: center;
  backdrop-filter: blur(10px) saturate(70%);
  margin-bottom: 2em;
  color: white;
  text-shadow: 1px 1px 2px #312229;
}

.calendar-ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}