.custom-top-bar{
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/nav+bar+background.png");
  /* background-color: #47596F; */
  color: #D5C5AE;
  text-shadow: 2px 2px #312229;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1em;
}

.header-text{
  font-size: 4rem;
}

.custom-top-bar img{
  max-width: 5em;
  max-height: 5em;
  margin-right: 1em;
}

.custom-top-bar a{
  color: white;
  text-shadow: 2px 2px #312229;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.custom-top-bar-section{
  margin-left: 10%;
}

.custom-top-bar a:hover{
  color: #D5C5AE;
}

.custom-top-bar button{
  display: block;
  float: right;
  background-color: #312229;
  /* #B18653 */
  margin: 1rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
  border-radius: 1em;
}

.submit {
  display: block;
  float: right;
  background-color: #B18653;
  margin: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
  border-radius: 1em;
}

.typewriter {
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/Typewriter.png");
}

.form-button{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #47596F;
  color: white;
  margin: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: 1rem;
  text-decoration: double;
  border: solid #D5C5AE 0.1em;
}

.form-button:hover{
  color: #D5C5AE;
}

.beige {
  background-color: #D5C5AE;
}

label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

.footer {
  background-image: url("https://write-on-time.s3.amazonaws.com/logos/footer.png");
  display: table-row;
  height: 0;
}

.form-page {
  margin: auto;
}

.form-image{
  margin: auto;
  padding-top: 2%;
}